{
  "plugins": ["prettier-plugin-organize-imports"],
  "printWidth": 120,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "endOfLine": "auto"
}
