@font-face {
  font-family: "Epilogue";
  src: url("../../public/fonts/Epilogue/Epilogue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../public/fonts/Epilogue/Epilogue-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../public/fonts/Epilogue/Epilogue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../public/fonts/Epilogue/Epilogue-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../public/fonts/Epilogue/Epilogue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../public/fonts/Epilogue/Epilogue-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "AtypDisplay";
  src: url("../../public/fonts/Atyp/AtypDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../../public/fonts/NeueMachina/NeueMachina-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../../public/fonts/NeueMachina/NeueMachina-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../../public/fonts/NeueMachina/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Lucida Sans";
    src: url("../../public/fonts/lucida/LucidaSans.eot");
    src:
        url("../../public/fonts/lucida/LucidaSans.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/lucida/LucidaSans.woff2") format("woff2"),
        url("../../public/fonts/lucida/LucidaSans.woff") format("woff"),
        url("../../public/fonts/lucida/LucidaSans.ttf") format("truetype"),
        url("../../public/fonts/lucida/LucidaSans.svg#LucidaSans") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lucida Sans";
    src: url("../../public/fonts/lucida/LucidaSans-Demi.eot");
    src:
        url("../../public/fonts/lucida/LucidaSans-Demi.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/lucida/LucidaSans-Demi.woff2") format("woff2"),
        url("../../public/fonts/lucida/LucidaSans-Demi.woff") format("woff"),
        url("../../public/fonts/lucida/LucidaSans-Demi.ttf") format("truetype"),
        url("../../public/fonts/lucida/LucidaSans-Demi.svg#LucidaSans-Demi") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lucida Sans";
    src: url("../../public/fonts/lucida/LucidaSans-DemiItalic.eot");
    src:
        url("../../public/fonts/lucida/LucidaSans-DemiItalic.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/lucida/LucidaSans-DemiItalic.woff2") format("woff2"),
        url("../../public/fonts/lucida/LucidaSans-DemiItalic.woff") format("woff"),
        url("../../public/fonts/lucida/LucidaSans-DemiItalic.ttf") format("truetype"),
        url("../../public/fonts/lucida/LucidaSans-DemiItalic.svg#LucidaSans-DemiItalic") format("svg");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lucida Sans";
    src: url("../../public/fonts/lucida/LucidaSans-Italic.eot");
    src:
        url("../../public/fonts/lucida/LucidaSans-Italic.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/lucida/LucidaSans-Italic.woff2") format("woff2"),
        url("../../public/fonts/lucida/LucidaSans-Italic.woff") format("woff"),
        url("../../public/fonts/lucida/LucidaSans-Italic.ttf") format("truetype"),
        url("../../public/fonts/lucida/LucidaSans-Italic.svg#LucidaSans-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
